# Build output
bin/
obj/

# User-specific files
*.user
*.suo

# Rider / JetBrains IDE
.idea/

# Visual Studio Code
.vscode/

# appsettings local or secrets
backend/bin/
backend/obj/
backend/appsettings*.json

# Logs
*.log

# Others
*.DS_Store
